langchain==0.3.26
langchain-community==0.3.26
langchain-pinecone==0.2.8
langchain-openai==0.3.24

pinecone-client==3.2.2

sentence-transformers==2.2.2
transformers==4.31.0
huggingface-hub==0.25.2

pypdf==5.6.1
python-dotenv==1.1.0
flask==3.1.1

-e .
